<!DOCTYPE html>
<html lang="en">
<head>
	<title>Employee MIS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>

	<font color="black" size="5" style="font-family: avenir">

		

		<body  align="center" >
			<h1 style="color: DodgerBlue">Employee Information Management System</h1>
			<h2 align="center">Attendance Check-In</h2>
			
			
				<table align="center">
					<tr>
						{{emp_name}} Successfully CheckIn in {{time}}
                        
					</tr>
				
						
					
				</table>

		</body>
	</font>

</html>