<!DOCTYPE html>
<html lang="en">
<head>
	<title>Employee MIS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>

	<font color="black" size="5" style="font-family: avenir">

		

		<body  align="center" >
			<h1 style="color: DodgerBlue">Employee Information Management System</h1>
			<h2 align="center">Login Page</h2>
			
			<form action="loginEmp" method="post">
				<table align="center">
					<tr>
						<td>Enter Email:</td><td> <input type="text"name="emp_email"></td>
					</tr>
					<tr>
						<td>Enter Password:</td><td><input type="password" name="emp_pswd"></td>
					</tr>
					<tr>
						<td></td><td><button type="submit">Login</button></td>
					</tr>
				</table>

				<h3>New Account:</h3><a href="/NewEmp">Register Now</a>
			
			</form>

		</body>
	</font>

</html>
