<!DOCTYPE html>
<html lang="en">
<head>
	<title>Employee MIS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>

	<font color="black" size="5" style="font-family: avenir">

		

		<body bgcolor="lightgrey" align="center" >
			<h1 style="color: DodgerBlue">Employee Information Management System</h1>
			<h2 align="center">Welcome New Employee</h2>
			
			
				<table align="center">
					<tr>
						<td>ID:</td><td> {{emp_id}}</td>
					</tr>
                    <tr>
						<td>Name:</td><td> {{emp_name}}</td>
					</tr>
					<tr>
						<td>Email:</td><td> {{emp_email}}</td>
					</tr>
                    <tr>
						<td>Primary Skills:</td><td>{{pri_skill}}</td>
					</tr>
                    <tr>
                        <td>Location:</td><td>{{locations}}</td>
                    </tr>
                    <tr>
                        <td>Image: </td><td>{{img}}</td>
                    </tr>

					
				</table>



		</body>
	</font>

</html>