<!DOCTYPE html>
<html lang="en">
<head>
	<title>Employee MIS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>

	<font color="black" size="5" style="font-family: avenir">

		

		<body bgcolor="lightgrey" align="center" >
			<h1 style="color: DodgerBlue">Employee Information Management System</h1>
			<h2 align="center">New Employee SignUp Page</h2>
			
			<form action="SignInEmp" method="post" enctype="application/x-www-form-urlencoded">
				<table align="center">
                    <tr>
						<td>Enter ID:</td><td> <input type="text"name="emp_id"></td>
					</tr>
					<tr>
						<td>Enter Name:</td><td> <input type="text"name="emp_name"></td>
					</tr>
					<tr>
						<td>Enter email:</td><td> <input type="text"name="emp_email"></td>
					</tr>

					<tr>
						<td>Enter Password:</td><td><input type="password" name="emp_pswd"></td>
					</tr>
                    <tr>
						<td>Primary Skills:</td><td><input  type="text" name="pri_skill"></td>
					</tr>
                    <tr>
                        <td>Location:</td><td><input type="text" name="location"></td>
                    </tr>
                    <tr>
                        <td>Image: </td><td><input type=file name="emp_image_file" ></td>
                    </tr>

					<tr>
						<td></td><td><button type="submit">Sign Up</button></td>
					</tr>
				</table>

				
			
			</form>

		</body>
	</font>

</html>
